BODY,HTML{overflow:hidden;}
.pointer{cursor:pointer;}
.brand-logo{padding: 0 0 0 15px !important;}
#panel-main,#top-nav{padding-left:155px;}
#panel-main > DIV{padding:5px;}
TD{padding:5px;}
#articles-list .card .card-content{padding: 0 5px 2px 5px;}
#articles-list .card .card-image P.price{font-size:0.9em;position:absolute;top:-15px;right:0px;background-color: #FFFFFF;border-radius:0 0 0 8px;padding: 0 3px 0 3px;text-align:right;}
#articles-list .card .card-content P.detail{font-size:0.9em;width:100px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}
#articles-list .card .card-image{width:120px;height:120px;vertical-align: middle !important;}
#articles-list .card .card-image P.price{font-size:0.9em;position:absolute;top:-15px;right:0px;background-color: #FFFFFF;border-radius:0 0 0 8px;padding: 2px 5px 0 5px;text-align:right;}
#articles-list .card .card-image IMG{width:120px;}
#articles-list .row{margin-bottom:0;}
#side-nav{width:150px;}
TR.selected{background-color:#acbad4 !important;}
#dt-wrapper > DIV.dataTables_paginate{float:right;}
#dt-wrapper > DIV.dt-buttons{margin-top:15px;}
#dt-wrapper > DIV {display:inline-block;margin-right:15px;vertical-align:top;}
#register-min-date,#register-max-date,#onwait-payed-min-date,#onwait-payed-max-date{width:auto;}

.dataTables_paginate{padding-top:0.25em;}
.pagination li a{font-size:15px;}

#onwait-dialog {width: 90% !important;max-height: 100% !important;top:50px !important;}
#onwait-dialog .modal-content{padding:24px 24px 0 24px !important;}