<table id="onwait-list" class="striped">
    <thead>
        <tr>
            <th>N° Commande</th>
            <th>Date US</th>
            <th>Date</th>
            <th>Club</th>
            <th>Membre</th>
            <th style="text-align:right;">Total (€)</th>            
        </tr>
    </thead>
    <tfoot>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td style="text-align:right;font-size:1.5em;"><b>Total</b></td>
            <td style="text-align:right;font-size:1.5em;">0.00</td>
        </tr>                        
    </tfoot>
    <tbody></tbody>                    
</table>
<div id="onwait-detail" class="modal"></div>
<script>
    $('#onwait-detail').modal({
        dismissible: false
    });   
    
    var tableOnWait=$('#onwait-list').DataTable({
        "dom": '<"#dt-wrapper"Bf>t',
        "paging":   false,
        "ordering": true,
        "order": [[1, 'desc']],
        "info":     false,
        "searching": true,
        "scrollY": $('#panel-onwait').height()-150,
        "drawCallback": function( settings ) {
                var api = this.api();
                var total = 0.00;
                api.rows({search:'applied'}).data().each(function(d){
                    total+=parseFloat(d[5]);
                });
            
                $(api.column(5).footer()).html(total.toFixed(2));
        },
        "buttons" : [{
            extend: 'excel',
            text: 'Exporter vers Excel',
            title: 'Caisse_volley_En_Attente.xlsx'
        }],
        "columns": [
            {   "visible" : false},
            {   "visible" : false},
            {   "orderData" : [1]},
            {},
            {},
            {   "orderable": false, "width": "100px", 
                "createdCell":  function (td, cellData, rowData, row, col) {
                                    td.style="text-align:right;"
                                } 
            }            
        ],
        "language": {
            "search": "Rechercher",
            "emptyTable": "Aucune commande en attente de payement",
            "zeroRecords" : "Aucune commande en attente pour la recherche en cours"
        },
        "rowGroup" : true
    }).on('click','TR',function(event){
        var _this=this;
        var data=tableOnWait.row(_this).data();
        var _id=data[0];
        $('#onwait-detail').load('./wait/onwait-detail.html',function(){     
            getDB('onwait').find({"_id":_id}).exec(function(err,docs){
                for (i=0;i<docs[0].articles.length;i++){
                    $('#onwait-detail-list').append(
                        $('<LI>'+
                            docs[0].articles[i].name+' - '+docs[0].articles[i].price+'€'+                       
                        '</LI>'));
                }
            });
            $('#onwait-detail').modal('open');
            $('#onwait-pay').click(function(event){
                getDB('onwait').find({"_id":_id}).exec(function(err,docs){
                    update(getDB('bills'),'',docs[0],function(){
                        getDB('onwait').update({"_id":_id},{ $set: { "active": false } });
                        tableOnWait.row(_this).remove().sort().draw(); 
                    });
                });            
                
            });
        });
    });     

    getDB('onwait').find({active:true}).exec(function(err,docs){
        var tr=null; 
        var doc=null;        
        for (i=0;i<docs.length;i++){
            doc=docs[i];
            tr=tableOnWait.row.add([
                doc._id,
                getDate(doc.createdAt,false),
                getDate(doc.createdAt,true),
                doc.user.name,
                doc.member.name,
                doc.total.toFixed(2)              
            ]).node();
            $(tr).data('onwait',doc).addClass('pointer');
        }
        tableOnWait.sort().draw();        
    });
</script>