<ul class="modal-content">
    <h4>Détail de la commande</h4>
    <div id="onwait-detail-content">
        <ul id="onwait-detail-list"></ul>
    </div>
    
</div>
<div class="modal-footer">
    <a href="#!" id="onwait-pay" class="modal-action modal-close waves-effect waves-green btn-flat ">Marquer comme payé</a>
    <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat ">Fermer</a>
</div>