<div class="row">
    <form class="col s4">
        <div class="row">
            <div class="input-field">
                <select id="tableArticle-type">
                    <option value=""></option>
                </select>
                <label>Type d'article</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field">
                <input id="tableArticle-articleId" type="hidden"/>
                <input id="tableArticle-name" type="text">
                <label>Nom</label>
            </div>
        </div>        
        <div class="row">
            <div class="input-field">
                <input id="tableArticle-price" type="text">
                <label>Prix (€)</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field">
                <input id="tableArticle-image" type="text">
                <label>Image</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field">
                <input id="tableArticle-line" type="text" value="9">
                <label>Ligne</label>
            </div>
        </div>
        <div class="row">
          <input type="checkbox" id="tableArticle-active" class="filled-in" CHECKED/>
          <label for="tableArticle-active">Actif</label> 
        </div>
        <br/><br/>
        <hr/>    
        <a id="tableArticle-new" class="waves-effect waves-light btn-flat">Nouveau</a>  
        <a id="tableArticle-save" class="waves-effect waves-light btn">Enregistrer</a>
    </form>
    <div id="col-article-list" class="col s8">
        <table id="param-article-list" class="striped">
            <thead>
                <tr>
                    <th class="width50"></th>
                    <th class="sortable">Nom</th>
                    <th class="sortable">Type</th>
                    <th class="width100">Prix (€)</th>
                    <th class="width50">Actif</th>
                </tr>
            </thead>  
        </table>
    </div>    
</div>
<script>
    var tableArticle=$('#param-article-list').DataTable({
        "dom": 'ft<"#dt-wrapper"ip>',
        "paging":   true,
        "pageLength": 25,
        "ordering": true,
        "order": [[1, 'asc']],
        "info":     true,
        "searching": true,
        "scrollY": $('#panel-param').height()-150,
        "columnDefs": [
            {   "width" : 50, "targets" : "width50"},
            {   "width" : 100, "targets" : "width100"},
            {   "sortable" : true, "targets" : "sortable"},
            {   "sortable" : false, "targets": "_all"},
            {   "createdCell":  function (td, cellData, rowData, row, col) {
                                    $(td).html('').append($('<img>',{
                                        class: "circle",
                                        width: "30",
                                        src: getIMG(cellData)
                                    }));
                                },
                "width":'50px', "sortable": false, "targets" : [0]}                       
        ],       
        "language": {
            "search": "Rechercher",
            "emptyTable": "Aucun article",
            "zeroRecords" : "Aucun article pour la recherche en cours",
            "info": "_START_ à _END_ de _TOTAL_ entrées",
            "infoEmpty": "0 à 0 de 0 entrées",
            "infoFiltered": "(filtrées de _MAX_ entrées)",
            "lengthMenu": "Voir _MENU_ entrées",
            "paginate": {
                "next": "Suivant",
                "previous": "Précédent"
            }
        }
    }).on('click','TR',function(event){
        var obj=$(this).data('doc');
        $('#tableArticle-price').val(obj.price.toFixed(2))
        $('#tableArticle-image').val(obj.image)
        $('#tableArticle-line').val(obj.line)
        $('#tableArticle-articleId').val(obj._id);
        $('#tableArticle-name').val(obj.name).focus();
        $('#tableArticle-type').val(obj.type._id);    
        $('#tableArticle-active').prop('checked',obj.active);
        Materialize.updateTextFields();
        $('select').material_select();
    });
    reloadtableArticle();
    Materialize.updateTextFields();
    $('select').material_select();
    
    getDB('articlesType').find({}).sort({active : -1,type : 1}).exec(function(err,docs){
        docs.forEach(function(doc){
            var option=$('<OPTION>',{
                value : doc._id,
                text : doc.type
            }).data('type',doc);
            $('#tableArticle-type').append(option);
        })
        $('select').material_select();
    });

    $('#tableArticle-new').click(function(event){
        $('#tableArticle-price').val('')
        $('#tableArticle-image').val('')
        $('#tableArticle-line').val('')
        $('#tableArticle-articleId').val('');
        $('#tableArticle-name').val('').focus();
        $('#tableArticle-type').val('');    
        $('#tableArticle-active').prop('checked',true);  
        Materialize.updateTextFields();
        $('select').material_select();
    });

    $('#tableArticle-save').click(function(event){
        Materialize.Toast.removeAll();
        if ($('#tableArticle-name').val()==''){
            Materialize.toast('Le nom est obligatoire', 4000,'red darken-4');
            return;
        } 

        if ($('#tableArticle-type').val()==''){
            Materialize.toast('Le type est obligatoire', 4000,'red darken-4');
            return;
        }        

        var record={
            name : $('#tableArticle-name').val(),
            type : $('#tableArticle-type').children(':selected').data('type'),
            price : parseFloat($('#tableArticle-price').val()),
            image : $('#tableArticle-image').val(),
            line : $('#tableArticle-line').val(),
            active : $('#tableArticle-active').prop('checked')
        };
      
        update(getDB('articles'),$('#tableArticle-articleId').val(),record,function(err, doc){
            var message='';
            if (err==null){
                message='Enregistré avec succès';
                reloadtableArticle();
                $('#tableArticle-new').click();
            }
            else{
                message='Erreur lors de l\'enregistrement';
            }
            Materialize.toast(message, 4000)
        });
    });


    function reloadtableArticle(){
        tableArticle.rows().clear();
        getDB('articles').find({}).sort({active : -1, "type._id" : 1 ,name : 1}).exec(function(err,docs){
            docs.forEach(function(doc){
                tr=tableArticle.row.add([
                    (doc.image!='')?doc.image:doc.type.image,
                    doc.name,
                    doc.type.type,
                    doc.price.toFixed(2),
                    ((doc.active)?'Oui':'Non')                   
                ]).node();
                $(tr).data('doc',doc).addClass('pointer');
            });
            tableArticle.sort().draw();
        });
    }
</script>