<div class="row">
    <form class="col s4">
        <div class="row">
            <div class="input-field">
                <input id="tableArticleType-typeId" type="hidden"/>
                <input id="tableArticleType-type" type="text">
                <label for="tableArticleType-type">Nom</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field">
                <input id="tableArticleType-image" type="text">
                <label>Image</label>
            </div>
        </div>
        <div class="row">
          <input type="checkbox" id="tableArticleType-active" class="filled-in" CHECKED/>
          <label for="tableArticleType-active">Actif</label> 
        </div>
        <br/><br/>
        <hr/>    
        <a id="tableArticleType-new" class="waves-effect waves-light btn-flat">Nouveau</a>  
        <a id="tableArticleType-save" class="waves-effect waves-light btn">Enregistrer</a>
    </form>
    <div id="col-article-type-list" class="col s8">
        <table id="param-article-type-list" class="striped">
            <thead>
                <tr>
                    <th class="width50"></th>
                    <th class="sortable">Type</th>
                    <th class="width50">Actif</th>
                </tr>
            </thead>
        </table>
    </div>    
</div>

<script>
    var tableArticleType=$('#param-article-type-list').DataTable({
        "dom": 'ft<"#dt-wrapper"ip>',
        "paging":   true,
        "pageLength": 25,
        "ordering": true,
        "order": [[1, 'desc']],
        "info":     true,
        "searching": true,
        "scrollY": $('#panel-param').height()-150,
        "columnDefs": [
            {   "width" : 50, "targets" : "width50"},
            {   "sortable" : true, "targets" : "sortable"},
            {   "sortable" : false, "targets": "_all"},
            {   "createdCell":  function (td, cellData, rowData, row, col) {
                                    $(td).html('').append($('<img>',{
                                        class: "circle",
                                        width: "30",
                                        src: getIMG(cellData)
                                    }));
                                },
                "width":'50px', "sortable": false, "targets" : [0]}                       
        ],       
        "language": {
            "search": "Rechercher",
            "emptyTable": "Aucun type d'article",
            "zeroRecords" : "Aucun type d'article pour la recherche en cours",
            "info": "_START_ à _END_ de _TOTAL_ entrées",
            "infoEmpty": "0 à 0 de 0 entrées",
            "infoFiltered": "(filtrées de _MAX_ entrées)",
            "lengthMenu": "Voir _MENU_ entrées",
            "paginate": {
                "next": "Suivant",
                "previous": "Précédent"
            }
        }
    }).on('click','TR',function(event){
        var obj=$(this).data('doc');
        $('#tableArticleType-typeId').val(obj._id);
        $('#tableArticleType-type').val(obj.type).focus();
        $('#tableArticleType-image').val(obj.image)
        $('#tableArticleType-active').prop('checked',obj.active);
        Materialize.updateTextFields();
    });
    reloadtableArticleType();
  
    $('#tableArticleType-new').click(function(event){
        $('#tableArticleType-typeId').val('');
        $('#tableArticleType-type').val('').focus();
        $('#tableArticleType-image').val('');
        $('#tableArticleType-active').prop('checked',true);
        Materialize.updateTextFields();
    });
    
    $('#tableArticleType-save').click(function(event){
        Materialize.Toast.removeAll();
        
        if ($('#tableArticleType-type').val()==''){
            Materialize.toast('Le nom est obligatoire', 4000,'red darken-4');
            return;
        }        
        
        var record={
            type : $('#tableArticleType-type').val(),
            image : $('#tableArticleType-image').val(),
            active : $('#tableArticleType-active').prop('checked')
        };
      
        update(getDB('articlesType'),$('#tableArticleType-typeId').val(),record,function(err, doc){
            var message='';
            if (err==null){
                message='Enregistré avec succès';
                reloadtableArticleType();
                $('#tableArticleType-new').click();
            }
            else{
                message='Erreur lors de l\'enregistrement';
            }
            Materialize.toast(message, 4000)
        });
    });
    
    function reloadtableArticleType(){
        tableArticleType.rows().clear();
        getDB('articlesType').find({}).sort({active : -1,type : 1}).exec(function(err,docs){
            docs.forEach(function(doc){
                tr=tableArticleType.row.add([
                    doc.image,
                    doc.type,
                    ((doc.active)?'Oui':'Non')                   
                ]).node();
                $(tr).data('doc',doc).addClass('pointer');
            });
            tableArticleType.sort().draw();
        });
    }    
</script>