<div class="row">
    <form class="col s4">
        <div class="row">
            <div class="input-field">
                <input id="tableMember-memberId" type="hidden"/>
                <input id="tableMember-member" type="text">
                <label for="tableMember-member">Nom</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field">
                <select id="tableMember-club">
                    <option value=""></option>
                    <option value="volley">Volley</option>
                    <option value="handball">Handball</option>
                </select>
                <label>Club</label>
            </div>
        </div>
        <div class="row">
          <input type="checkbox" id="tableMember-active" class="filled-in" CHECKED/>
          <label for="tableMember-active">Actif</label> 
        </div>
        <br/><br/>
        <hr/>    
        <a id="tableMember-new" class="waves-effect waves-light btn-flat">Nouveau</a>  
        <a id="tableMember-save" class="waves-effect waves-light btn">Enregistrer</a> 
    </form>
    <div id="tableMember-col-member-list" class="col s8">
        <table id="param-member-list" class="striped">
            <thead>
                <tr>
                    <th>Membre</th>
                    <th class="sortable">Club</th>
                    <th class="width50">Actif</th>
                </tr>
            </thead>
        </table>
    </div>    
</div>

<script>
    var tableMember=$('#param-member-list').DataTable({
        "dom": 'ft<"#dt-wrapper"ip>',
        "paging":   true,
        "pageLength": 25,
        "ordering": true,
        "order": [[1, 'desc']],
        "info":     true,
        "searching": true,
        "scrollY": $('#panel-param').height()-150,
        "columnDefs": [
            {   "width" : 50, "targets" : "width50"},
            {   "sortable" : true, "targets" : "sortable"},
            {   "sortable" : false, "targets": "_all"},
        ],       
        "language": {
            "search": "Rechercher",
            "emptyTable": "Aucun membre",
            "zeroRecords" : "Aucun membre pour la recherche en cours",
            "info": "_START_ à _END_ de _TOTAL_ entrées",
            "infoEmpty": "0 à 0 de 0 entrées",
            "infoFiltered": "(filtrées de _MAX_ entrées)",
            "lengthMenu": "Voir _MENU_ entrées",
            "paginate": {
                "next": "Suivant",
                "previous": "Précédent"
            }
        }
    }).on('click','TR',function(event){
        var obj=$(this).data('doc');
        $('#tableMember-memberId').val(obj._id);
        $('#tableMember-member').val(obj.name).focus();
        $('#tableMember-club').val(obj.club);
        $('#tableMember-active').prop('checked',obj.active);
        Materialize.updateTextFields();
        $('select').material_select();
    });
    reloadtableMember();
    $('select').material_select();
     
    $('#tableMember-new').click(function(event){
        $('#tableMember-memberId').val('');
        $('#tableMember-member').val('').focus();
        $('#tableMember-club').val('');
        $('#tableMember-active').prop('checked',true);
        $('select').material_select();
        Materialize.updateTextFields();
    });
    
    $('#tableMember-save').click(function(event){
        Materialize.Toast.removeAll();
        
        if ($('#tableMember-member').val()==''){
            Materialize.toast('Le nom est obligatoire', 4000,'red darken-4');
            return;
        } 
        if ($('#tableMember-club').val()==''){
            Materialize.toast('Le club est obligatoire', 4000,'red darken-4');
            return;
        } 
        
        var record={
            name : $('#tableMember-member').val(),
            club : $('#tableMember-club').val(),
            active : $('#tableMember-active').prop('checked')
        };
     
        update(getDB('members'),$('#tableMember-memberId').val(),record,function(err, doc){
            var message='';
            if (err==null){
                message='Enregistré avec succès';
                reloadtableMember();
                $('#tableMember-new').click();
            }
            else{
                message='Erreur lors de l\'enregistrement';
            }
            Materialize.toast(message, 4000)
        });
    });
        
    function reloadtableMember(){
        tableMember.rows().clear();
        getDB('members').find({}).sort({active : -1, club : -1,name : 1}).exec(function(err,docs){
            docs.forEach(function(doc){
                tr=tableMember.row.add([
                    doc.name,
                    (doc.club=='volley')?'Volley':'Handball',
                    ((doc.active)?'Oui':'Non')                   
                ]).node();
                $(tr).data('doc',doc).addClass('pointer');
            });
            tableMember.sort().draw();
        });
    }
</script>