<ul id="side-nav-list">
    <li><a href="#" class="waves-effect waves-teal" data-url="./param/register.html">Caisse</a></li>
    <li><a href="#" class="waves-effect waves-teal" data-url="./param/onwait-payed.html">En attente payés</a></li>
    <li><hr/></li>
    <li><a href="#" class="waves-effect waves-teal" data-url="./param/article.html">Articles</a></li>    
    <li><a href="#" class="waves-effect waves-teal" data-url="./param/member.html">Membres</a></li>
    <li><a href="#" class="waves-effect waves-teal" data-url="./param/article-type.html">Types d'article</a></li>    
</ul>

<script>
$('#side-nav-list').on('click','A',function(event){
    var _this=$(this)
    _this.parent().parent().children('.active').removeClass('active');
    _this.parent().addClass('active')
    $('#panel-param').load(_this.data('url'));
})

</script>