<div id="param-onwait-payed-daterange">    
    <input type="text" placeholder="Date de début" id="onwait-payed-min-date"/>    
    <input type="text" placeholder="Date de fin" id="onwait-payed-max-date"/>
</div>
<table id="onwait-payed-list" class="striped">
    <thead>
        <tr>
            <th class="hidden">N° Commande</th>
            <th class="hidden">Date US</th>
            <th class="sortable width150">Date</th>
            <th class="sortable width150">Club</th>
            <th class="sortable">Membre</th>
            <th style="text-align:right;" class="alignRight width100">Total (€)</th>           
        </tr>
    </thead>
    <tfoot>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td style="text-align:right;font-size:1.5em;"><b>Total</b></td>
            <td style="text-align:right;font-size:1.5em;">0.00</td>
        </tr>                        
    </tfoot>
    <tbody></tbody>                    
</table>
<div id="onwait-payed-detail" class="modal"></div>
<script>
    $('#onwait-payed-detail').modal({
        dismissible: false
    });    

    var tableOnWaitPayed=$('#onwait-payed-list').DataTable({
        "dom": '<"#dt-wrapper"<"#dt-custom">B>t<"#dt-wrapper"lip>',
        "paging":   true,
        "pageLength": 50,
        "lengthChange": true,
        "ordering": true,
        "order": [[1, 'desc']],
        "info":     false,
        "searching": true,
        "ysi_CustomSearch": true,
        "scrollY": $('#panel-param').height()-200,
        "drawCallback": function( settings ) {
                var api = this.api();
                var total = 0.00;
                api.rows({search:'applied'}).data().each(function(d){
                    total+=parseFloat(d[5]);
                });                
                $(api.column(5).footer()).html(total.toFixed(2));
        },
        "buttons" : [{
            extend: 'excel',
            text: 'Exporter vers Excel',
            title: 'Caisse_volley_En_Attente_Paye.xlsx'},
        {
            text: 'Supprimer',
            action: function (e,dt,node,config){
                if (confirm('Supprimer toutes ces entrées ?\r\nLes données seront effacées définitivement.')){
                    var arrayBills=new Array();
                    tableOnWaitPayed.rows({search:'applied'}).every(function (rowIdx,tableLoop,rowLoop){
                        var data = this.data();
                        if (arrayBills.indexOf(data[0])==-1){
                            arrayBills.push(data[0]);
                        }
                    });
                    remove(getDB('onwait'),arrayBills,function(){
                        tableOnWaitPayed.rows({search:'applied'}).remove().draw();
                    });
                }
            }
        }],
        "columnDefs": [
            {   "visible" : false, "targets" : "hidden" },
            {   "sortable" : [1], "targets" : "sortable"},
            {   "width": "75px", "targets" : "width100"},
            {   "width": "150px", "targets" : "width150"},
            {   "width": "200px", "targets" : "width200"},
            {   "orderData" : [1], "targets" : [2]},            
            {   "createdCell":  function (td, cellData, rowData, row, col) {
                                    td.style="text-align:right;"
                                }, "targets" : "alignRight"},
            {   "sortable" : false, "targets": "_all"}                       
        ],
        "language": {
            "search": "Rechercher",
            "emptyTable": "Aucun article",
            "zeroRecords" : "Aucune article pour la recherche en cours",
            "info": "_START_ à _END_ de _TOTAL_ entrées",
            "infoEmpty": "0 à 0 de 0 entrées",
            "infoFiltered": "(filtrées de _MAX_ entrées)",
            "lengthMenu": "Voir _MENU_ entrées",
            "paginate": {
                "next": "Suivant",
                "previous": "Précédent"
            }
        }
    }).on('click','TR',function(event){
        var _this=this;
        var data=tableOnWaitPayed.row(_this).data();
        $('#onwait-payed-detail').load('./param/onwait-payed-detail.html',function(){     
            getDB('onwait').find({"_id":data[0]}).exec(function(err,docs){
                for (i=0;i<docs[0].articles.length;i++){
                    $('#onwait-payed-detail-list').append(
                        $('<LI>'+
                            docs[0].articles[i].name+' - '+docs[0].articles[i].price+'€'+                       
                        '</LI>'));
                }

            });
            $('#onwait-payed-detail').modal('open');                
        });
    });         

    $('#param-onwait-payed-daterange').appendTo($('#dt-custom'));

    $('#onwait-payed-min-date,#onwait-payed-max-date').pickadate({
        selectMonths: true, 
        selectYears: 15,
        today: "Aujourd\'hui",
        clear: "Effacer",
        close: "Fermer",
        labelMonthNext:"Mois suivant",
        labelMonthPrev:"Mois précédent",
        labelMonthSelect:"Sélectionner un mois",
        labelYearSelect:"Sélectionner une année",
        closeOnSelect: true,
        firstDay: 1, 
        format: 'dd/mm/yyyy',        
        monthsFull: ['Janvier', 'Février', 'Mars', 'Avril', 'Mai', 'Juin', 'Juillet', 'Août', 'Septembre', 'Octobre', 'Novembre', 'Décembre'],
        monthsShort: ["Jan", "Fev", "Mar", "Avr", "Mai", "Juin", "Juil", "Aout", "Sept", "Oct", "Nov", "Dec"],
        weekdaysFull: ["Dimanche","Lundi", "Mardi", "Mercredi", "Jeudi", "Vendredi", "Samedi"],
        weekdaysShort: ["Dim","Lun", "Mar", "Mer", "Jeu", "Ven", "Sam"],
        weekdaysAbbrev: ["D","L", "M", "M", "J", "V", "S"],        
        formatSubmit: 'dd/mm/yyyy'
    }).on('change',function() {
        tableOnWaitPayed.draw();
    });

    getDB('onwait').find({active:false}).exec(function(err,docs){
        var tr=null; 
        var doc=null;
        for (i=0;i<docs.length;i++){
            doc=docs[i];
            tr=tableOnWaitPayed.row.add([
                doc._id,
                getDate(doc.createdAt,false),
                getDate(doc.createdAt,true),                    
                doc.user.name,
                doc.member.name,
                doc.total.toFixed(2)              
            ]).node()
            $(tr).data('onwait',doc).addClass('pointer');
        }
        tableOnWaitPayed.sort().draw();        
    });
</script>