<ul class="modal-content">
        <h4>Détail de la commande</h4>
        <div id="onwait-payed-detail-content">
            <ul id="onwait-payed-detail-list"></ul>
        </div>
        
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat ">Fermer</a>
    </div>