<div id="param-register-daterange">    
    <input type="text" placeholder="Date de début" id="register-min-date"/>    
    <input type="text" placeholder="Date de fin" id="register-max-date"/>
</div>
<table id="register-list" class="striped">
    <thead>
        <tr>
            <th class="hidden">N° Article</th>
            <th class="hidden">Date US</th>
            <th class="sortable width150">Date</th>
            <th class="sortable width150">Club</th>
            <th class="sortable">Article</th>
            <th style="text-align:right;" class="alignRight width100">Prix (€)</th>
            <th style="text-align:right;" class="alignRight width200 sortable">N° Commande</th>                         
        </tr>
    </thead>
    <tfoot>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td style="text-align:right;font-size:1.5em;"><b>Total</b></td>
            <td style="text-align:right;font-size:1.5em;">0.00</td>
        </tr>                        
    </tfoot>
    <tbody></tbody>                    
</table>

<script>
    var tableRegister=$('#register-list').DataTable({
        "dom": '<"#dt-wrapper"<"#dt-custom">fB>t<"#dt-wrapper"li>',
        "paging":   false,
        "pageLength": 50,
        "lengthChange": true,
        "ordering": true,
        "order": [[1, 'desc']],
        "info":     true,
        "searching": true,
        "ysi_CustomSearch": true,
        "scrollY": $('#panel-param').height()-150,
        "drawCallback": function( settings ) {
                var api = this.api();
                var total = 0.00;
                api.rows({search:'applied'}).data().each(function(d){
                    total+=parseFloat(d[5]);
                });
            
                $(api.column(6).footer()).html(total.toFixed(2));
        },
        "buttons" : [{
            extend: 'excel',
            text: 'Exporter vers Excel',
            title: 'Caisse_volley.xlsx'},
        {
            text: 'Supprimer',
            action: function (e,dt,node,config){
                if (confirm('Supprimer toutes ces entrées ?\r\nLes données seront effacées définitivement.')){
                    var arrayBills=new Array();
                    tableRegister.rows({search:'applied'}).every(function (rowIdx,tableLoop,rowLoop){
                        var data = this.data();
                        if (arrayBills.indexOf(data[6])==-1){
                            arrayBills.push(data[6]);
                        }
                    });
                    remove(getDB('bills'),arrayBills,function(){
                        tableRegister.rows({search:'applied'}).remove().draw();
                    });
                }
            }
        }],
        "columnDefs": [
            {   "visible" : false, "targets" : "hidden" },
            {   "sortable" : true, "targets" : "sortable"},
            {   "width": "75px", "targets" : "width100"},
            {   "width": "150px", "targets" : "width150"},
            {   "width": "200px", "targets" : "width200"},
            {   "orderData" : [1], "targets" : [2]},            
            {   "createdCell":  function (td, cellData, rowData, row, col) {
                                    td.style="text-align:right;"
                                }, "targets" : "alignRight"},
            {   "sortable" : false, "targets": "_all"}                       
        ],
        "language": {
            "search": "Rechercher",
            "emptyTable": "Aucun article",
            "zeroRecords" : "Aucun article pour la recherche en cours",
            "info": "_START_ à _END_ de _TOTAL_ entrées",
            "infoEmpty": "0 à 0 de 0 entrées",
            "infoFiltered": "(filtrées de _MAX_ entrées)",
            "lengthMenu": "Voir _MENU_ entrées",
            "paginate": {
                "next": "Suivant",
                "previous": "Précédent"
            }
            
        }
    });

    $('#param-register-daterange').appendTo($('#dt-custom'));

    $('#register-min-date,#register-max-date').pickadate({
        selectMonths: true, 
        selectYears: 15,
        today: "Aujourd\'hui",
        clear: "Effacer",
        close: "Fermer",
        labelMonthNext:"Mois suivant",
        labelMonthPrev:"Mois précédent",
        labelMonthSelect:"Sélectionner un mois",
        labelYearSelect:"Sélectionner une année",
        closeOnSelect: true,
        firstDay: 1, 
        format: 'dd/mm/yyyy',        
        monthsFull: ['Janvier', 'Février', 'Mars', 'Avril', 'Mai', 'Juin', 'Juillet', 'Août', 'Septembre', 'Octobre', 'Novembre', 'Décembre'],
        monthsShort: ["Jan", "Fev", "Mar", "Avr", "Mai", "Juin", "Juil", "Aout", "Sept", "Oct", "Nov", "Dec"],
        weekdaysFull: ["Dimanche","Lundi", "Mardi", "Mercredi", "Jeudi", "Vendredi", "Samedi"],
        weekdaysShort: ["Dim","Lun", "Mar", "Mer", "Jeu", "Ven", "Sam"],
        weekdaysAbbrev: ["D","L", "M", "M", "J", "V", "S"],        
        formatSubmit: 'dd/mm/yyyy'
    }).on('change',function() {
        tableRegister.draw();
    });

    getDB('bills').find({active:true}).exec(function(err,docs){
        var tr=null; 
        var doc=null;        
        for (i=0;i<docs.length;i++){
            doc=docs[i];
            for (j in doc.articles){
                article=doc.articles[j];
                tableRegister.row.add([
                    article._id,
                    getDate(doc.createdAt,false),
                    getDate(doc.createdAt,true),
                    doc.user.name,
                    article.name,
                    article.price.toFixed(2),
                    doc._id                        
                ]);
            }
            
        }
        tableRegister.sort().draw();        
    });

</script>

