<div class="row" style="margin-bottom:0;">
    <div class="row" style="margin-bottom:0;">
        <div id="articles-list" class="col s8" style="overflow-y:scroll;"></div>
        <div class="col s4">
            <div id="btn-container" class="row">
                <a id="bill-save" class="save-btn btn-floating btn-large waves-effect waves-light btn disabled"><i class="material-icons right">euro_symbol</i></a>
                <a id="bill-toWait" class="save-btn btn-floating btn-large orange right waves-effect waves-light btn disabled"><i class="material-icons right">hourglass_empty</i></a>                
            </div>
            <div class="row">
                <table id="return">
                    <thead>
                       <tr>
                           <th>Retour</th>
                           <th>5€</th>
                           <th>10€</th>
                           <th>20€</th>
                           <th>50€</th>
                       </tr> 
                    </thead>
                    <tbody>
                        <tr>
                            <td></td>
                            <td id="return-5" class="return-detail" data-value="5">0.00</td>
                            <td id="return-10" class="return-detail" data-value="10">0.00</td>
                            <td id="return-20" class="return-detail" data-value="20">0.00</td>
                            <td id="return-50" class="return-detail" data-value="50">0.00</td>
                        </tr>   
                    </tbody>                       
                </table>
            </div>
            <div class="row">
                <table id="bill-articles-list" class="striped">
                    <thead>
                        <tr>
                            <th></th>
                            <th></th>
                            <th>Article</th>
                            <th style="text-align:right;">Prix (€)</th>  
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <td></td>
                            <td></td>
                            <td style="text-align:right;font-size:1.5em;"><b>Total</b></td>
                            <td style="text-align:right;font-size:1.5em;">0.00</td>
                        </tr>                        
                    </tfoot>
                    <tbody></tbody>                    
                </table>
            </div>
        </div>
    </div>
</div>
<div id="onwait-dialog" class="modal"></div>
<script>
 
    $('#onwait-dialog').height(parseInt($('#panel-register').height(),10)+50);
    
    $('#articles-list').height($('#panel-register').height()).on('click','DIV.card',function(event){
        var doc=$(this).data('doc')
        var rowNode=table.row.add([
            '<i class="bill-remove material-icons pointer" title="Retirer cet article">delete</i>',
            '<img width="30" class="circle" src="'+getIMG((doc.image!='')?doc.image:doc.type.image)+'"/>',
            doc.name,
            parseFloat(doc.price).toFixed(2)]).sort().draw().node();
        $(rowNode).data('doc',doc);
        updateTotal(doc.price);
        $('.save-btn').removeClass('disabled');
    })
    var table=$('#bill-articles-list').DataTable({
        "paging":   false,
        "ordering": true,
        "order" : [[2, 'asc']],
        "info":     false,
        "searching" : false,
        "scrollY" : $('#panel-register').height()-275,        
        "columns": [
            {   "orderable": false, "width": "50px" },
            {   "orderable": false, "width": "50px" },
            null,
            {   "orderable": false, "width": "100px", 
                "createdCell":  function (td, cellData, rowData, row, col) {
                                    td.style="text-align:right;"
                                } 
            }
        ],
        "language": {
            "emptyTable": "Choisissez des articles"
        }
    });    
    
    $('#onwait-dialog').modal({
        dismissible: false
    });
        
    $('#bill-articles-list').on('click','I.bill-remove',function(){
        var row=$(this).parents('tr');
        updateTotal(row.data('doc').price*-1)
        table.row(row).remove().draw();
        
        if (table.rows().count()==0){
            $('.save-btn').addClass('disabled');
        }
    })    
    
    $('#bill-save').click(function(event){
        if ($(this).hasClass('disabled')){
            return;
        }
        saveBill(getDB('bills'),{})        
    })
    
    $('#bill-toWait').click(function(event){
        if ($(this).hasClass('disabled')){
            return;
        }
        $('#onwait-dialog').load('./register/onwait-dialog.html',function(){
            $('#onwait-dialog').modal('open');
        });
    })
    
    function saveBill(db,bill){
        bill.total=0.00
        bill.user=getCurrentUser()
        bill.articles=[]
        
        table.rows().every(function(rowIdx,tableLoop,rowLoop){
            var doc=$(this.node()).data('doc');
            bill.articles.push(doc);
            bill.total=round(bill.total+parseFloat(doc.price),2);
            bill.active=true;
        });        
        
        update(db,'',bill,function(){
            table.rows().remove().draw();
            updateTotal(null);
            $('.save-btn').addClass('disabled');
        })
    }
    
    
    function updateTotal(price){
        if (price==null){
            $(table.column(3).footer()).html('0.00');
            $("#return TD.return-detail").html('0.00');
            return;
        }
        var total=parseFloat($(table.column(3).footer()).html())+parseFloat(price)
        $(table.column(3).footer()).html(total.toFixed(2));

        if (total==0.00){
            $("#return TD.return-detail").html('0.00');
            return;
        }
        $("#return TD.return-detail").each(function(i,item){
            var value=parseInt($(item).data('value'),10);
            if (total>value){
                $(item).html('0.00');
            }
            else{            
                $(item).html((value-total).toFixed(2));
            
            }
        });
    }
    
    
    

</script>