<ul id="side-nav-list"></ul>
<script>
    $('#side-nav-list').on('click','LI',function(event){
        var _this=$(this);
        $('#articles-list').html('');
        getDB('articles').find({"type._id":_this.data('type'), active : true}).sort({line : 1, name : 1}).exec(function(err,docs){
            var row=$('<DIV>',{
                class : 'row'
            });
            $('#articles-list').append(row);
            var line='1';
            docs.forEach(function(doc){                
                if (doc.line!=line){
                    row=$('<DIV>',{
                        class : 'row'
                    });
                    $('#articles-list').append(row);
                    line=doc.line;
                }
                row.append($('<DIV>',{
                    class : 'col'
                }).append($('<DIV>',{
                    class : 'card article pointer'                    
                }).data('doc',doc).append($('<DIV>',{
                    class : 'card-image waves-effect waves-block'
                }).append($('<P>',{
                    class: "price",
                    text : doc.price.toFixed(2)+'€'
                })).append($('<IMG>',{
                    src : getIMG((doc.image!='')?doc.image:doc.type.image)
                }))
                )
                .append($('<DIV>',{
                    class : 'card-content'
                }).append($('<P>',{
                    class :"detail",
                    text : doc.name
                })))));          
            });  
        });
    });

    //Generate side menu from articleType DB
    getDB('articlesType').find({active : true}).sort({type : 1}).exec(function(err,docs){
        docs.forEach(function(doc){
            $('#side-nav-list').append('<li data-type="'+doc._id+'"><a href="#" class="waves-effect waves-teal">'+doc.type+'</a></li>');
        });   
        $('#side-nav-list LI').first().click();
    });
     
</script>
