<div class="modal-content">
    <h4>Mettre en attente</h4>
    <table id="member-list" class="striped">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Club</th>
            </tr>
        </thead>
        <tbody></tbody>                    
    </table>
    <form class="col s4" onsubmit="return false;">
        <div class="row">
            <div class="input-field">
                <input id="onwait-dialog-name" type="text">
                <label>Entrez un nom si il ne figure pas dans la liste</label>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <a href="#!" id="onwait-dialog-save" class="modal-action waves-effect waves-green btn-flat ">Enregistrer</a>
    <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat ">Annuler</a>
</div>
<script>
    $('#onwait-dialog-name').on('keypress',function(e){
        if (e.keyCode==13){
            $('#onwait-dialog-save').click();
        }
    });   
    
    var tableMember=$('#member-list').DataTable({
        "dom": 'ft',
        "paging":   false,
        "ordering": true,
        "info" : false,
        "order" : [[0, 'asc']],
        "scrollY" : $('#onwait-dialog').height()-380,
        "language": {
            "search": "Rechercher",
            "emptyTable": "Aucun article",
            "zeroRecords" : "Aucune article pour la recherche en cours",
            "info": "_START_ à _END_ de _TOTAL_ entrées",
            "infoEmpty": "0 à 0 de 0 entrées",
            "infoFiltered": "(filtrées de _MAX_ entrées)",
            "lengthMenu": "Voir _MENU_ entrées"
        }
    });
    
    getDB('members').find({active : true}).sort({name : 1}).exec(function(err,docs){
        var tr=null; 
        var doc=null;
        for (i=0;i<docs.length;i++){
            doc=docs[i];
            tr=tableMember.row.add([
                doc.name,
                doc.club]).node()
            $(tr).data('member',doc).addClass('pointer');
        }
        tableMember.sort().draw()
    });

    $('#member-list').on('click','TR',function(event){
        if (typeof $(this).data('member')=='undefined'){
            return;
        }    
        if ( $(this).hasClass('selected') ) {
            $(this).removeClass('selected');
        }
        else {
            tableMember.$('TR.selected').removeClass('selected');
            $(this).addClass('selected');
        }        
    });

    $('#onwait-dialog-save').click(function(event){
        var member=$('#onwait-dialog-member').data('selected');
        
        if (tableMember.$('TR.selected').length>0){
            saveBill(getDB('onwait'),{"member" : tableMember.$('TR.selected').data().member});
            $('#onwait-dialog').modal('close');
        }
        else{
            if ($('#onwait-dialog-name').val()==''){
                Materialize.toast('Vous devez choisir un nom', 4000,'red darken-4');
                return;
            }
            var record={
                name : $('#onwait-dialog-name').val(),
                club : getCurrentUser().id,
                active : true
            };
            update(getDB('members'),'',record,function(err, affectedDocuments){
                if (err!=null){
                    Materialize.toast(err, 4000,'red darken-4');
                    return;
                }
                saveBill(getDB('onwait'),{"member" : affectedDocuments});
                $('#onwait-dialog').modal('close');
            });            
        }        
    });

</script>